body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	background-color: #FCFCFC;
}

hr {
	border: none;
	background-color: #BFBFBF;
	height: 1px;
}

header {
	font-size: 1.5em;
}

code {
	text-align: left;
	line-height: 2;
	background-color: #F5F5F5;
	padding: 4px;
	margin: 4x;
	border-radius: 5px;
	box-shadow: 6px 6px 6px rgba(0,0,0,0.23);
}

#code-block {
	text-align: left;
	display: block;
	white-space: pre-line;
	padding: 15px;
	margin: 10px;
}

#navbar {
	position: absolute;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	min-width: 300px;
	width: 300px;
	height: 100%;
	background-color: #343131;
	display: flex;
	flex-direction: column;
}

#navbar header {
	background-color: #2980B9;
	color: #FFFFFF;
	padding: 20px 10px 20px 10px;
	font-size: 1.5em;
	text-align: center;
}
#navbar ul {
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: 90%
}
#navbar li {
	list-style: none;
	position: relative;
	width: 100%;
	padding: 10px;
}

#navbar footer {
	color: #FFFFFF;
	background-color: #272525;
	position: relative;
	width: 280px;
	padding: 10px;
}


.nav-link {
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	color: #FFFFFF;
	padding: 20px;
}

#main-doc {
	position: relative;
	margin: 0px 60px 0px 330px;  
	max-width: 850px;
}

#main-doc footer {
	display: none;
}

.main-section {
    text-align: left;
    margin-top: 15px;
    
}

.main-section p {
	margin: 15px;
}

.main-section ul {
	margin-left: 15px;
}

.main-section a {
	text-decoration: none;
	color: #2980B9;
}

.button {
	display: inline-block;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #F6C915;
	box-shadow: 0 4px #999999;
}

.button:hover {
	background-color: #AB8E1B;
}

.button:active {
	background-color: #AB8E1B;
	box-shadow: 0 2px #999999;
	transform: translateY(4px);
}


@media screen and (max-width: 815px) {
	#navbar {
		position: absolute;
		top: 0;
		padding: 0;
		margin: 0;
		max-height: 350px;
		border: none;
		z-index: 1;
		width: 100%;
	}
	
	#navbar ul {
		height: 250px;
		text-align: center;
	}
	
	#navbar footer {
		display: none;
		position: relative;
		width: 100%;
		padding: 10px;
		text-align: center;
	}

	#main-doc {
		position: relative;
	margin: 360px 15px 0px 15px;   
	}
	
	#main-doc footer {
	display: block;
	color: #FFFFFF;
	background-color: #272525;
	width: pagewidth;
	padding: 10px;
	text-align: center;
}
}
